body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



.top-banner {
    background-image: url("images/donation1.jpg");
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    text-align: center;
    padding-top: 150px;
    margin: 0%;

}

.fontsize {
    font-size: 50px;
}

.click-button {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: tomato;
    padding: 10px 15px;
    border-radius: 7px;
}

.donate-money-part {
    text-align: center;

}

#font-size {
    font-size: 35px;
}

.money-amount-box1 {
    background-color: #deebeb;
    border: 5px;
    margin: 20px;
    width: 120px;
    height: 100px;
    text-align: center;
    border-radius: 10px;

    font-size: 23px;
    color: black;
    line-height: 100px;
    font-weight: 700;
}

.money-amount-box2 {
    width: 120px;
    background-color: rgb(245, 231, 229);
    margin: 20px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    font-size: 23px;
    color: rgb(224, 44, 12);
    line-height: 100px;
    font-weight: 700;


}

.money-amount-box {
    display: flex;
    text-align: center;
    margin-left: 280px;

}

.input-money-amount {
    width: 350px;
    height: 40px;
}

.donate-plan {
    width: 500px;
    margin: auto;
    text-align: center;
}

.help-item1 {
    width: 300px;
    background-color: rgb(215, 238, 215);
    padding: 10px 10px;
    margin: 20px;
}

.help-item2 {
    width: 300px;
    background-color: rgb(220, 220, 241);
    padding: 10px 10px;
    margin: 20px;

}

.help-item3 {
    width: 300px;
    background-color: rgb(238, 234, 234);
    padding: 10px 10px;
    margin: 20px;
}

.help-item {
    display: flex;
    margin-left: 150px;
    margin-bottom: 80px;

}

.food-icon {
    width: 50px;
    margin-top: 15px;
}

.shelter-icon {
    width: 50px;
    margin-top: 15px;

}

.education-item {
    width: 50px;
    margin-top: 15px;
}

.description1 {
    display: flex;
    height: 50%;
}

.description1 {
    display: flex;
    height: 50%;
    margin-bottom: 80px;
}

.description-2 {
    width: 50%;

    padding-left: 5%;
    padding-right: 5%;
}

.description-2 img {
    width: 80%;
    height: 320px;
}

.update-info {
    width: 500px;
    margin: auto;
    text-align: center;
}

.email1 {
    padding: 6px 8px;
    height: 20px;
}

.input2 {

    height: 30px;
    width: 50px;
}

footer {
    color: aliceblue;
    background-color: black;
    height: 120px;
    padding-top: 10px;
    text-align: center;
}